       
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, value-scale=1"/>
        <title >Sound Check Records</title>
    </head>

    <body>
         <div class="content pt-0" layout:fragment="main-content">
        <div id="AddRecord" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Project</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                    <form th:action="@{/save-project}" th:object="${cmd}">
                        <div style="margin-bottom:-15px;">
                            <h6 style="text-align:center;">Artiste information</h6>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Project Type</label>
                                       <select class="form-control" id="ptype_id" th:field="*{project.projecttype.id}">
                                                    <option value=""></option>
                                                    <option th:each="i : ${projecttypeList}" th:value="${i.id}" th:text="${i.projecttype}">
                                                    </option>
                                                </select>
                                        </select>   
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Activity</label>
                                        <select class="form-control" id="actype_id" th:field="*{project.activitytype.id}">
                                            <option value=""></option>
                                            <option th:each="i : ${activitytypeList}" th:value="${i.id}" th:text="${i.activitytype}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Genre</label>
                                        <select class="form-control" id="actype_id" th:field="*{project.song.genre.id}">
                                            <option value=""></option>
                                            <option th:each="i : ${genreList}" th:value="${i.id}" th:text="${i.genre}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Combination</label>
                                        <select class="form-control" id="combtype_id" th:field="*{project.song.combination.id}">
                                            <option value=""></option>
                                            <option th:each="i : ${combinationList}" th:value="${i.id}" th:text="${i.combination}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>Artiste(S)</label>
                                        <input type="text" class="form-control" th:field="*{project.artiste.artistename}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Writer(s)</label>
                                        <input type="text" class="form-control" th:field="*{project.song.writer}"/>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Producer(s)</label>
                                        <input type="text" class="form-control" th:field="*{project.song.producer}"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Engineer(S) </label>
                                        <input type="text" class="form-control" th:field="*{project.song.engineer}"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Start date </label>
                                        <input type="text" class="form-control" id="anytime-month-numeric" value="" th:field="*{project.projectstartdate}"/>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>City/Town/Village</label>
                                        <input type="text" class="form-control" th:field="*{project.artiste.town}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>State/Province</label>
                                        <input type="text" class="form-control" th:field="*{project.artiste.country}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>Amount Charged(GHc)</label>
                                        <input type="text" class="form-control" th:field="*{project.budget}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Email</label>
                                        <input type="text" class="form-control" th:field="*{project.artiste.email}"/>
                                        <span class="form-text text-muted">name@domain.com</span>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Phone #</label>
                                        <input type="text" class="form-control" th:field="*{project.artiste.phone}"/>
                                        <span class="form-text text-muted">0544793757</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom:-15px;">
                            <h6 style="text-align:center ;">Artiste information</h6>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-primary">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
         </div>
          </body>
</html>