<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="header::header">
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta  content="width=device-width, value-scale=1"/>
        <title >Sound Check Records</title>
    </head>

    <body>
        <div class="navbar navbar-expand-md navbar-light navbar-static" >
            <div class="navbar-brand">

            </div>
            <div class="d-md-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </button>
                <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                    <i class="icon-paragraph-justify3"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                            <i class="icon-paragraph-justify3"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                            <i class="icon-git-compare"></i>
                            <span class="d-md-none ml-2">Latest songs</span>
                            <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">9</span>
                        </a>
                        <div class="dropdown-menu dropdown-content wmin-md-350">
                            <div class="dropdown-content-header">
                                <span class="font-weight-semibold">Latest Songs</span>
                                <a href="#" class="text-default"><i class="icon-sync"></i></a>
                            </div>
                            <div class="dropdown-content-body dropdown-scrollable">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="mr-3">
                                            <a href="#" class="btn bg-transparent border-blue-300 text-blue-300 rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                        </div>
                                        <div class="media-body">
                                            You deserve it <a href="#">by Kezia adiko</a> The Lord deserves our praise
                                            <div class="text-muted font-size-sm">2 days ago</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="mr-3">
                                            <a href="#" class="btn bg-transparent border-orange-300 text-orange-300 rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
                                        </div>

                                        <div class="media-body">
                                            This far by grace
                                            <div class="text-muted font-size-sm">36 minutes ago</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="mr-3">
                                            <a href="#" class="btn bg-transparent border-green text-green rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Ammy Newman</a> S3 3n3 me te ase a <span class="font-weight-semibold">God's Love is Amazing</span> 
                                            <div class="text-muted font-size-sm">2 hours ago</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="mr-3">
                                            <a href="#" class="btn bg-transparent border-pink-300 text-pink-300 rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                            <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="mr-3">
                                            <a href="#" class="btn bg-transparent border-blue-300 text-blue-300 rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                        </div>
                                        <div class="media-body">
                                            Sound Check
                                            <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-content-footer">
                                <a href="#" class="text-white mr-auto">All updates</a>
                                <div>
                                    <a href="#" class="text-white" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                                    <a href="#" class="text-white ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="badge bg-success my-3 my-md-0 ml-md-3 mr-md-auto">Online</span>
                <span class="mr-1"><i class=" mr-3 "></i>
                    <span th:text="${#dates.format(#dates.createNow(), 'hh:mm a')}" style="color:greenyellow"></span>
                </span>
                <span><i class='icon_clock_alt'></i>
                    <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}" style="color:greenyellow"></span>
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                            <i class="icon-people"></i>
                            <span class="d-md-none ml-2">Users</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#A" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                            <i class="icon-bubbles4"></i>
                            <span class="d-md-none ml-2">Messages</span>
                            <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                            <img th:src="${profilepic}" height="38" width="38" class="rounded-circle mr-2" alt=""/>
                            <span th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>
                        </a>
                        <!-- <a  th:href="@{profile?(username=${#authentication.getPrincipal().getUsername()})}"class="dropdown-item profilebtn"><i class="icon-user-plus "></i> My profile</a>-->
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  th:href="@{myprofile?(username=${#authentication.getPrincipal().getUsername()})}"class="dropdown-item profilebtn"><i class="icon-user-plus "></i> My profile</a>                          
                            <a href="userlist" class="dropdown-item"><i class="icon-users"></i> View Users</a>
                            <a data-toggle="modal" href="#AddUsers"  class="dropdown-item"><i class="icon-user"></i> Add new user</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                            <a href="/logout" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->
        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

                <!-- Sidebar mobile toggler -->
                <div class="sidebar-mobile-toggler text-center">
                    <a href="#" class="sidebar-mobile-main-toggle">
                        <i class="icon-arrow-left8"></i>
                    </a>
                    Navigation
                    <a href="#" class="sidebar-mobile-expand">
                        <i class="icon-screen-full"></i>
                        <i class="icon-screen-normal"></i>
                    </a>
                </div>
                <!-- /sidebar mobile toggler -->
                <!-- Sidebar content -->
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3">
                                    <!-- <a href="#"><img src="..global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""/></a>-->
                                </div>
                                <div class="media-body">
                                    <div class="media-title font-weight-semibold">SoundCheckRecords</div>
                                    <div class="font-size-xs opacity-50">
                                        <i class="icon-pin font-size-sm"></i> &nbsp;Accra Ghana, Nungua
                                    </div>
                                </div>
                                <div class="ml-3 align-self-center">
                                    <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="card card-sidebar-mobile">
                        <ul class="nav nav-sidebar" data-nav-type="accordion">

                            <!-- Main -->
                            <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
                            <li class="nav-item">
                                <a th:href="@{/}"class="nav-link">
                                    <i class="icon-home4"></i>
                                    <span>
                                        Dashboard
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-task"></i> <span>Project</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    <li class="nav-item"><a data-toggle="modal" href="#AddRecord" class="nav-link active">New Project</a></li>
                                    <li class="nav-item"><a  th:href="@{/projectlist}" class="nav-link">Project List</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-music"></i> <span>Songs</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Themes">
                                    <li class="nav-item"><a href="songlist" class="nav-link">Song List</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-user"></i> <span>Artists</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Themes">
                                    <li class="nav-item"><a href="artistlist" class="nav-link">Artiste List</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /main navigation -->
                </div>
                <!-- /sidebar content -->
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <div class="page-header border-bottom-0">
                    <div class="page-header-content header-elements-md-inline">
                        <div class="page-title d-flex">

                            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                        </div>
                        <div class="header-elements d-none mb-3 mb-md-0">
                            <div class="d-flex justify-content-center" >
                                <a href="#" class="btn btn-link btn-float text-default caret-0"><i class="icon-bars-alt"></i><span>Statistics</span></a>
                                <a href="invoicelist" class="btn btn-link btn-float text-default"><i class="icon-calculator"></i> <span>Invoices</span></a>
                                <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5"></i> <span>Schedule</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content pt-0" layout:fragment="main-content" >

                    <div class="alert alert-success">File uploaded successfully</div>
                    <div class="alert alert-danger">File is not uploaded. Error occurred</div>
                </div>
                <div th:replace="footer::footer">
                </div>
            </div>

            <!--ADD PROJECT................................................ -->
            <div id="AddRecord" class="modal fade " tabindex="-1">
                <div class="modal-dialog modal-full">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Project</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form  id="main" class="form-validate" >
                            <div style="margin-bottom:-15px;">
                                <h6 style="text-align:center;">Artiste information</h6>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <label >Artiste(S)<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control"id="artistenamead" name="artistename" required/>
                                            <div class="invalid-feedback">Please enter artiste name to continue.</div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label >Song tittle<span class="text-danger">*</span></label>

                                            <input type="text" class="form-control" id="songtitlead" name="songtitle" required/>
                                            <!--                                         <div class="invalid-feedback">Please enter song title to continue</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label >Project Type<span class="text-danger">*</span></label>
                                            <select class="form-control select-basic  projecttypead" id="projecttypead" name="projecttype" required>
                                                 <option value="">--Select poject type--</option>
                                            </select>  
                                            <!--                                         <div class="invalid-feedback">Please enter select project type to continue</div>-->
                                        </div>
                                        <div class="col-sm-3">
                                            <label >Activity<span class="text-danger">*</span></label>
                                            <select class="form-control activitytypead" id="activitytypead" name="activitytype" required>
                                                <option value="">--Select activity type--</option>
                                            </select>
                                            <!--                                        <div class="invalid-feedback">Please select activity type to continue</div>-->
                                        </div>
                                        <div class="col-sm-3">
                                            <label >Genre<span class="text-danger">*</span></label>
                                            <select class="form-control genread" id="genread" name="genre" required>
                                                <option value="">--Select genre--</option>
                                            </select>
                                            <!--                                        <div class="invalid-feedback">Please select activity type to continue</div>-->
                                        </div>
                                        <div class="col-sm-3">
                                            <label> Combination<span class="text-danger">*</span></label>
                                            <select class="form-control combinationad" id="combinationad" name="combination" required>
                                                <option value="">--Select combination--</option>
                                            </select>
                                            <!--                                         <div class="invalid-feedback">Please select combination type to continue</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Writer(s)<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="writerad" name="writer" required/>
                                            <!--                                         <div class="invalid-feedback">Please enter song title to continue</div>
                                            -->
                                        </div>
                                        <div class="col-sm-6">
                                            <label >Producer(s)<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="producerad" name="producer" required/>
                                            <!-- <div class="invalid-feedback">Please enter producer to continue</div>-->
                                        </div>
                                        <div class="col-sm-6">
                                            <label >Engineer(S)<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="engineerad" name="engineer" required/>
                                            <!--                                         <div class="invalid-feedback">Please enter engineer to continue</div>-->
                                        </div>
                                        <div class="col-sm-6">
                                            <label >Start date<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control pickadate-accessibility" id="projectstartdatead" name="projectstartdate"  required/>   
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label >City/Town/Village<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="townad" name="town" required/>
                                            <!--                                          <div class="invalid-feedback">Please enter City/Town/Village to continue</div>-->
                                        </div>
                                        <div class="col-sm-4">
                                            <label >Country<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="countryad" name="country" required/>
                                            <!--                                        <div class="invalid-feedback">Please enter country to continue</div>-->
                                        </div>
                                        <div class="col-sm-4">
                                            <label >Phone #<span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="phonead" name="phone" required/>
                                            <!--                                        <div class="invalid-feedback">Please enter phone to continue</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Email<span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" id="emailad" name="email"  required/>
                                            <!--  <div class="invalid-feedback">Please enter valid email to continue</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-light" id="reset">Reset <i class="icon-reload-alt ml-2"></i></button>
                                <button type="submit" class="btn btn-primary ml-3"id="df" >Submit <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>      
            <!--END,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

            <!-- VIEW PROFILE ......................................... -->
            <div id="ViewProfile" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-small">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">View or update logged in user</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div  class="modal-body">
                            <!--                        <form  class="form-validate-upd" >-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label >Username</label>
                                        <input type="hidden" id="idup" class="form-control"  name="id" />
                                        <input type="text" id="username" class="form-control"  name="username"  />
                                    </div>
                                    <div class="col-sm-12">
                                        <label >Password</label>
                                        <input type="password" id="password" class="form-control"  name="password" required/>
                                        <input type="hidden" id="datecreat" class="form-control"  name="datecreated" /> 
                                    </div>
                                    <div class="col-sm-12">
                                        <form id="fileUploadFormup">
                                            <label >Photo </label>
                                            <!--                                             <input type="hidden" id="hoto" class="form-control"  name="filehidden"/>    -->
                                            <input type="file" id="photoo" class="form-control"  name="file" required/> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="cancel" class="btn btn-link" data-dismiss="modal">close</button>
                                <button type="submit" class="btn bg-primary" id="btnSubmitprofileupd" >Submit</button>
                            </div>
                            <!--                    </form>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

            <!--ADD USER................................................ -->
            <div id="AddUsers" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-small">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add user</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body ">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label >Username</label>
                                        <input type="text" id="usernamee" class="form-control"  name="username" required />
                                    </div>
                                    <div class="col-sm-12">
                                        <label >Password</label>
                                        <input type="text" id="passwordd" class="form-control"  name="password" required/>
                                    </div>
                                    <div class="col-sm-12">
                                        <form id="fileUploadForm">
                                            <label >Photo </label>
                                            <input type="file" id="photo" class="form-control"  name="file" required/>                                    
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="cancel" class="btn btn-link" data-dismiss="modal">close</button>
                                <button type="submit" class="btn bg-primary" id="btnSubmitt" >Submit</button>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END................................................ -->
            
    </body>

    <script th:src="@{assets/js/printThis.js}"></script>
    <script>
        
   
        $('#print').click(function () {
            $('#invoice').printThis({
                debug: false, // show the iframe for debugging
                importCSS: true, // import parent page css
                importStyle: false, // import style tags
                printContainer: true, // print outer container/$.selector
                loadCSS: " assets/css/custom.css",
                pageTitle: "", // add title to print page
                removeInline: false, // remove inline styles from print elements
                removeInlineSelector: "*", // custom selectors to filter inline styles. removeInline must be true
                printDelay: 333, // variable print delay
                header: null, // prefix to html
                footer: null, // postfix to html
                base: false, // preserve the BASE tag or accept a string for the URL
                formValues: true, // preserve input/form values
                canvas: false, // copy canvas content
                doctypeString: '<!DOCTYPE html>', // enter a different doctype for older markup
                removeScripts: false, // remove script tags from print content
                copyTagClasses: false, // copy classes from the html & body tag
                beforePrintEvent: null, // callback function for printEvent in iframe
                beforePrint: null, // function called before iframe is filled
                afterPrint: null            // function called before iframe is removed
            });

        });

    </script>
</html>
